* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    padding: 50px;
}

section {
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 5px 5px;
}

ul {
    margin: 10px;
}

h2 {
    margin: 0 0 10px;
}

a, summary {
    text-decoration: none;
    color: rgb(173, 140, 96);
    font-weight: 600;
}