h1 {
    margin-bottom: 10px;
    width: 100%;
}

header {
    background-image: url("../img/25101.jpg");
    background-repeat: no-repeat;
    height: 200px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 50px 0;
    border-bottom: solid 1.5px black;
    margin-bottom: 20px;
}

p:first-letter {
    font-weight: bold;
    font-size: 35px;
}

h1+p {
    text-indent: 0;
}

:not(p) + p:first-line {
    font-variant: small-caps;
}